@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --Desaturated: hsl(0, 36%, 70%);
    --Soft: hsl(0, 93%, 68%);
    --Dark: hsl(0, 6%, 24%);
    font-size: 16px;;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

.Hero{
    &__content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "imagen" "info";
    }

    &__logo{
        img{
            height: 28px;
            width: 110px;
        }
        padding: 2em;
        grid-area: logo;
    }
    &__image{
        grid-area: imagen;
        background: url('../../static/images/hero-mobile.jpg') center center no-repeat;
        background-size: cover;
        height: 250px;
        width: 100%;
    }

    &__info{
        grid-area: info;
        text-align: center;
        
    }
    
    &__groupInput{
        width: 80%;
        position: relative;
        margin: auto;
        input{
            border-radius: 25px;
            border: 1px solid var(--Desaturated);
            height: 47px;
            width: 100%;
            
        }
        input::placeholder{
            color: var(--Desaturated);
            padding-left: 20px;
        }
        button{
            background-image: linear-gradient(135deg, var(--Desaturated) 50%, var(--Soft) 100%);
            border: none;
            height: 53px;
            width: 62px;
            left: -50px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 85%;
        }
    }

    &__title{
        font-size: 2.8em;
        font-weight: 400;
        color: var(--Dark);
        margin-bottom: 0;
        letter-spacing: 4px;
    }
    &__span{
        color: var(--Desaturated);
    }
    .p{
        color: var(--Desaturated);
        padding: 1.5em;
        margin: 0;
        line-height: 25px;
        font-size: .9em;
    }
    .alert{
        display: none;
        text-align: left;
        color: var(--Soft);
    }

    @media screen and (min-width: 768px){
        &__logo{
            img{
                height: 60px;
                width: 170px;
            }
            padding: 2em;
            grid-area: logo;
        }
        &__content{
            display: grid;
            grid-auto-columns: 1fr 1fr;
            grid-template-areas: "logo logo" 
            "info info"
            "image image";
        }
        &__logo{
            grid-area: logo;
            grid-column: 1 / 2;
            padding-bottom: 0px;
            align-items: center;
            display: flex;
        }
        &__info{
            grid-area: info;
            grid-column: 1 / 2;
        }
        &__image{
            background: url('../../static/images/hero-desktop.jpg') center center no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100%;
            grid-area: imagen;
            grid-column: 2/3;
            grid-row: 1/3;
        }
        
    }

    @media screen and (min-width: 1024px){
        &__title{
            padding: .5em 2em;
            margin-top: 0;
            text-align: start;
        }
        .p{
            padding: 1.5em 3em;
        }
        &__groupInput{
            input{
                border-right: 0px;
            }
            button{
                left: 88%;
            }
        }
    }

    @media screen and (min-width: 1440px){
        &__groupInput{
            button{
                left: 92%;
            }
        }
    }
    
}

